<% if current_account.custom_mailbox_enhancements? %>
  <div>custom_mailbox_enhancements? = <%= current_account.custom_mailbox_enhancements? %></div>
  <div id="outgoing-error-info" class="hide"></div>
  <div id="incoming-error-info" class="hide"></div>
  <% logger.info "Logger inside the if block" %>
<% else %>
  <div>custom_mailbox_enhancements? = <%= current_account.custom_mailbox_enhancements? %></div>
  <% logger.info "Logger inside the else block" %>
  <div id="incoming-error-info" class="hide"></div>
<% end %>